<template>
  <div class="navbar__app-layout">
    <nav class="nav-wrapper__navbar">
      <ul class="menu__nav-wrapper">
        <li class="menu__item-link">
          <router-link to="/home">Home</router-link>
        </li>
        <li class="menu__item-link">
          <router-link to="/orders">My orders</router-link>
        </li>
      </ul>
    </nav>

    <div class="info__navbar info__navbar--right">
      <div>USD: {{getUser.usd}}</div>
      <div>BTC: {{getUser.btc}}</div>
      <div>Last Price: {{getUser.last_price}}</div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'navbar',
    computed: {
      ...mapGetters([
        'getUser'
      ])
    }
  }
</script>

<style>
  .navbar__app-layout {
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
  }

  .navbar__app-layout .menu__nav-wrapper {
    margin: 30px 0;
    padding-left: 30px; 
    margin-right: auto;
  }

  .navbar__app-layout .menu__nav-wrapper li {
    display: inline-block;
    list-style-type: none;

    margin-right: 20px;
  }

  .navbar__app-layout .menu__nav-wrapper li:last-child {
    margin: 0;
  }

  .navbar__app-layout .menu__nav-wrapper li a {
    text-decoration: underline;
  }

  .navbar__app-layout .menu__nav-wrapper li a.router-link-active, 
  .navbar__app-layout .menu__nav-wrapper li a.router-link-exact-active {
    text-decoration: none;
  }

  .info__navbar--right {
    margin-left: auto;
    padding-right: 30px; 
  }
</style>
