<template>
  <div class="orders__container">
    <v-table v-bind:data="getOrders" v-on:select="setCurrentOrder" v-if="getOrders.length && getOrders.filter(e => !e.canceled).length"></v-table>
    <div v-else>No orders go to <router-link to="{name: 'home'}">home</router-link> and add order.</div>
  </div>
</template>

<script>
	import {mapGetters, mapActions} from 'vuex'
	import Table from 'components/ui/table/Table'

	export default {
		name: 'orders',
		components: {
			'v-table': Table
		},
		computed: {
		  ...mapGetters([
		    'getOrders'
		  ])
		},
		methods: {
			...mapActions({
	        	'setCurrentOrder': 'setCurrentOrder'
	      	}),
			setCurrentOrder (order) {
	      		this.$router.push({name: 'orders', params: {
	      			'orderId': order.id
	      		}});

	      		this.setCurrentOrder(tile);
			}
		}
  	}
</script>

<style>
	.orders__container {}
</style>
