<template>
  <div>
    <table class="table table__orders">
      <thead class="thead__table">
        <th>ID</th>
        <th>Action</th>
        <th>Price</th>
        <th></th>
      </thead>
      <tbody class="tbody__table">
        <tr v-for="order, index in data" :key="order.id" v-if="!order.canceled">
          <td>{{order.id}}</td>
          <td>{{order.action}}</td>
          <td>{{order.price}}</td>
          <td class="td__table--text-right">
            <a href="#" @click.prevent="cancelOrder(index)">Cancel</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    name: 'table',
    props: {
      data: Array,
      default: []
    },
    methods: {
      ...mapActions({
        'cancelOrder': 'cancelOrder'
      }),      
      selectOrder () {
        this.$emit('select', this.data);
      }
    }
  }
</script>

<style>
  .table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-collapse: collapse;
  }

  .thead__table {
    border-bottom: 1px solid #aaa;
  } 

  .thead__table th, .tbody__table td {
    padding: 10px 15px;
    text-align: left;
  }

  .tbody__table .td__table--text-right {
    text-align: right;
  }
</style>
