<template>
  <form class="form order-form" @submit="checkForm" ref="form">
    <p v-if="errors.length" class="form__errors">
      <b>Errors</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

    <div class="control__form control__form--inline">
      <label>
        <span>Sum:</span>
        <input type="number" min="1" v-model="sum" name="sum"/>
      </label>
    </div>
    <div class="control__form control__form--inline">
      <label>
        <span>Price:</span>
        <input type="number" min="1" v-model="price" name="price"/>
      </label>    
    </div>

    <div class="footer__form">
      <button class="button button__position-left button__action-confirm" @click.prevent="createOrder('buy')">Buy</button>
      <button class="button button__position-rigth button__action-alert" @click.prevent="createOrder('sell')">Sell</button>
    </div>
  </form>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'order-form',
    data () {
      return {
        sum: '',
        price: '',
        errors: []
      }
    },
    computed: {
      ...mapGetters([
        'getUser'
      ])
    },    
    methods: {
      ...mapActions({
        'addOrder': 'addOrder',
        'buy': 'buy',
        'sell': 'sell'
      }),
      createOrder (type) {
        if(!this.checkForm(type)) {
          return false;
        }
        this.addOrder({action: type, sum: this.sum, price: this.price});

        if (type === 'buy') {
          this.buy(this.sum);
        } else {
          this.sell(this.sum);
        }
      },
      checkForm (type) {
        this.errors = [];
        if((type === 'buy' && this.price > this.getUser.usd) || (type === 'sell' && this.price > this.getUser.btc)) {
          this.errors.push('Price is more than allowable');
        }
      }
    }
  }
</script>

<style>
  .order-form {
    background: #f8f8f8;
    border: 1px solid #aaa;
    width: 80%;
    margin: 0 auto;
    padding: 30px 20px 0;
    text-align: center;
  }

  .control__form--inline {
    display: inline-block;
    margin-right: 15px;
  }

  .control__form--inline:last-child {
    margin-right: 0;
  }

  .footer__form {
    display: flex;
    padding-top: 15px;
    margin: 15px 0 30px;
    border-top: 1px solid #000;
  }

  .button {
    padding: 5px 25px;
  }

  .button__position-left {
    margin-right: auto;
  }

  .button__position-right {
    margin-left: auto;
  }

  .form__errors {
    margin: 0 0 15px;
    padding: 0;
  }

  .form__errors ul {
    list-style-type: none;
  }
</style>
