<template>
  <div>
    <navbar></navbar>
    <div class="content__app-layout">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import Navbar from 'components/layout/navbar/Navbar'
  import http from 'api/http'

  export default {
    name: 'layout',
    data () {
      return {
        user: {}
      }
    },
    components: {
      Navbar
    },
    beforeCreate () {
      http.getUserInfo().then((response) => {
        return response.json().then((json) => {
          if (!json.success) { return false; }

          this.user = json.data;
          console.log(json.data);
          this.setUser(this.user);
        })
      })
    },
    methods: {
      ...mapActions({
        'setUser': 'setUser'
      })
    }    
  }
</script>

<style>
  .content__app-layout {
    padding: 40px 30px 10px;
  }
</style>
