<template>
  <div class="home__container">
    <v-orderform></v-orderform>
  </div>
</template>

<script>
	import orderForm from 'components/ui/form/OrderForm'

	export default {
		name: 'home',
		components: {
			'v-orderform': orderForm
		}
  	}
</script>

<style>
	.home__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;	

		-ms-flex-wrap: wrap;
	    	flex-wrap: wrap;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;	

		margin: -10px -10px 0;
	}
</style>
