<template>
	<div class="app-layout">
		<layout></layout>
	</div>
</template>

<script>
	import Layout from 'components/layout/Layout'

	export default {
		name: 'app',
		components: {
			Layout
		}
	}
</script>

<style>
	@import "assets/css/main.css";

	.app-layout {}
</style>
